/* src/tailwind.css */
@tailwind base;

@font-face {
  font-family: "National-Park-Regular";
  src: url("../fonts/nationalpark-regular.woff") format("woff"),
  url("../fonts/nationalpark-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
main,
footer {
  color: #282828;
  font-family: "Noto Sans", sans-serif;
}

#site-title {
  font-family: "National-Park-Regular", sans-serif;
}

#menu-link {
  font-family: "National-Park-Regular", sans-serif;
}